# Diffraction Grating

In [2]:
import numpy as np
import pandas as pd

## Finding out the slit width

We are using a red laser to find out the slit width of the diffraction grating.

### Working Formula

$kd\sin(\theta) = 2n\pi \\ d \sin(\theta) = m\lambda$

In [3]:
wl = 655*10**(-9)

In [10]:
l = pd.read_csv("Diffraction Grating - Sheet1.csv",header = 1,usecols = [1,2,3,4,7,8]).dropna()
# l = l.dropna()
l

        LC    VD    LC*VD  total reading order  slit width(in microns)
1  0.01667  22.0  0.36674      346.36674     1                9.468604
2  0.01667  20.0  0.33340      342.33340     2                9.412738
3  0.01667  22.0  0.36674      338.36674     3                9.477074
5  0.01667  17.0  0.28339      174.28339     1                9.389810
6  0.01667  12.0  0.20004      178.20004     2                9.511198
7  0.01667  18.0  0.30006      182.30006     3                9.438209

In [11]:
l["theta_diff"],l["order"]

KeyError: 'theta_diff'

In [142]:
angle_values  = np.array(l["theta_diff"])
order = np.array(l['order'])
angle_values,order

(array([ 3.96666,  8.     , 11.96666,  4.     ,  7.91665, 12.01667]),
 array([1, 2, 3, 1, 2, 3]))

In [143]:
def slit_w(m,t):
    t *= np.pi/180
    return m*wl/np.sin(t)

In [144]:
# slit width in microns
sw = np.array([slit_w(order[i],angle_values[i])*10**(6) for i in range(6)])
sw

array([9.46860365, 9.41273846, 9.47707394, 9.3898095 , 9.51119848,
       9.43820941])

In [153]:
avg_sw = np.average(sw)
std_sw = np.std(sw,ddof=1)
avg_sw,std_sw

(9.449605574236335, 0.04466262652328466)

## Finding out the wavelength of the green laser

In [146]:
l2 =pd.read_excel("Diffraction Grating.xlsx",sheet_name=1,header=1,usecols="A:E,G:H",nrows = 12).dropna()
l2

      MSD       LC    VD    LC*VD  total reading  theta_diff  order
1   173.5  0.01667   9.0  0.15003      173.65003     3.31673    1.0
2   170.5  0.01667   7.0  0.11669      170.61669     6.35007    2.0
3   167.0  0.01667  24.0  0.40008      167.40008     9.56668    3.0
8   182.0  0.01667  23.0  0.38341      182.38341     3.18337    1.0
9   185.5  0.01667  10.0  0.16670      185.66670     6.46666    2.0
10  188.5  0.01667  15.0  0.25005      188.75005     9.55001    3.0

In [147]:
angle_values2  = np.array(l2["theta_diff"])
order2 = np.array(l2['order'])
angle_values2,order2

(array([3.31673, 6.35007, 9.56668, 3.18337, 6.46666, 9.55001]),
 array([1., 2., 3., 1., 2., 3.]))

In [150]:
def wl(m,t):
    t *= np.pi/180
    return avg_sw*10**(-6)*np.sin(t)/m

In [151]:
wl1 = np.array([wl(order2[i],angle_values2[i])*10**(9) for i in range(6)])
wl1

array([546.7119757 , 522.57678623, 523.49340352, 524.75272761,
       532.13111401, 522.58968361])

In [155]:
avg_wl = np.average(wl1)
std_wl = np.std(wl1,ddof=1)
avg_wl,std_wl

(528.7092817789618, 9.525991966447663)

## Conclusion of the experiment

For experiment 1,

Average slit width = $9.449605574236335 \mu$m 

Standard Deviation = $0.04466262652328466$

For experiment 2,

Average wavelength = $528.7092817789618$ nm

Standard Deviation = $9.525991966447663$